// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.container {
  width: 10%;
  margin: 30vh auto;
}

.submit {
  width: 50%;
  margin: auto;
}
